/*STYLE FOR ALL*/
body {
  background-color:#ffc5d3 ;
  margin:0;
  padding:0;
  background-image: url(gallery/kiss.jpg);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;  
}

html {
  font-size: 16px;
}

@media (max-width: 660px) {    
  html {
    font-size: 10px;
  }
  body{
    background-image: url(gallery/ecoPark.jpg);
  }
  #container {
    width:40vw;
  }
  #yes {
    left:50%;
  }
  #no {
    top:10%;
    left:31%
  }
  footer button{
    font-size: 0.7em;
  }
  #termBox{
    width: 80vw;
    font-size: 1em;
  }
  #termBox button{
    font-size: 0.8em;
  } 
  /*remove hover effects*/
  footer button:hover,
  #termBox button:hover,
  .qButton:hover,
  .pic:hover,
  .song:hover,
  .navButton:hover {
    transform: none !important; 
  }
  .song:hover img {
    animation: none !important; 
  }
}

a{
  text-decoration: none;
  color: inherit;
}


/*PAGES*/
.page{
  display: none;
  overflow-y: auto;
}

.page.show{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100dvh;
  transform: translateY(0) scale(1);
}
.notes {
  color: #b12c4b;
  text-align: center;
  z-index: 1;
}

header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #b12c4b;
  color: white;
  text-align: center;
  width: 100vw;
  box-shadow: 0 0px 180px rgba(74, 74, 179, 0.3);
}

footer {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

footer button{
  height: fit-content;
  text-align: center;
  color: #b12c4b;
  background-color: white;
  border: 2px solid #5c353e;
  padding: 0 2% 0 2%;
  margin:2.5%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

}

footer button:hover{
  transform: scale(1.08);
}


.back{
  border-radius: 30px 10px 10px 30px;
}

.next{
  border-radius: 10px 30px 30px 10px;
}

/*TERMS PAGE*/
#terms{
  margin:0;
  padding:0;
  height: 100dvh;
  width: 100vw;
  background-color: #ffc5d3;
}

#termBox{
  margin-top: 15%;
  padding: 2%;;
  height: auto;
  max-width: 500px;
  border: #5c353e 2px solid;
  border-radius: 20px;
  background-color: red;
  color: white;
  text-align: left;
}

#termBox button{
  width: fit-content;
  height: auto;
  transition: 0.3s;
  display: block;
  margin: 5% auto 0 auto;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 20px;
  background-color: white;
  color: black;

}

#termBox button:hover{
  transform: scale(1.1);
}

#termBox ul{
  font-size: 20px;
}

/*MINI QUIZ PAGE*/
#quiz{
  margin:0;
  padding:0;
  height: 100dvh;
  width: 100vw;
  background-color: #ffc5d3;
}

#quiz h1{
  color: #5c353e;
  text-align: center;
  margin: 10% 0 5% 0;
  z-index: 1;
}
#container {
  position: relative;
  height: 100dvh;
  width: 50vw;
}

.qButton {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  position: absolute;
  margin:0;
  text-align: center;
  width: 100px;
  transition: 0.3s;
  border: 2px solid #5c353e;
  border-radius: 20px;

}
#yes {
  left:30%;
  background-color: rgb(119, 255, 119);
}

#no {
  right:30%;
  background-color: rgb(252, 97, 97);
}

.qButton:hover {
  transform: scale(1.2);
}

/*OPENING PAGE*/
.opening{
  justify-content: center;
  align-items: center;
}

#greeting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30vh;
  width: 30vw;
  font-size: 1rem;
  margin-top: 10dvh;
  color: #6c3240;
}


#greeting img{
  object-fit: contain;
  max-width: 100%;
  height: auto;
}

/*MESSAGE PAGE*/
#letter{
  background-color: rgb(255, 255, 229);
  background-image: url(util/paperBackground.jpg);
  background-size: cover;
  background-position: center;
  border:2px solid #5c353e;
  margin: 5%;
  text-align: left;
  padding: 5%;
  font-family: cursive;
  font-size: 0.5 em; 
  color:black;
  max-width: 700px;
  position: relative;
  font-size: 1.2em;
  height: fit-content;
  }

/*GALLERY PAGE*/
#images{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  margin: 4rem 0 4rem 0;
  justify-content: space-around;
  gap: 4rem;

}

.pic{
  max-width: 220px;
  width: 20vw;
  background: white;
  padding: 5% 5% 30%;
  border: 1px solid white;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
  text-align: left;
  margin: 0;
  transition: 0.3s;

}

.pic img{
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.pic:hover{
  transform: scale(1.09);
}

@media (max-width:500px){
#gallery #images{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pic{
  width: 30vw;
}
}
 
/*PLAYLIST PAGE*/
.songList{
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 10%;
  gap: 4rem;
  width: 0;
}

.song {
  display: flex;
  justify-content: start;
  align-items: center;
  height: auto;
  background-color: white;
  border: 2px solid #b12c4b;
  border-radius: 2rem;
  padding: 1rem;
  text-align: left;
  margin: 0;
  width:80vw;
  max-width: 600px;
  transition: transform 0.3s ease-in-out;

}

.song img{
  width: 30%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border: 0.5rem solid black;
  border-radius: 1000px;
  margin-right: 2rem;
}

.song:hover img{
  animation: rotate 10s linear infinite;
}

.song:hover{
  transform: scale(1.1);
}

@keyframes rotate{
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}

/*HOME PAGE*/
.navButton{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 80vw;
  max-width: 400px;
  height: auto;
  max-height: 200px;
  background-color: white;
  border: 2px solid #5c353e;
  border-radius: 20px;
  padding: 2%;
  margin:2.5%;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;

}

.navButton img {
  width:25vw;
  max-width: 200px;
  height: 100%;
  max-height: 200px;
  object-fit: contain;  
}

.navButton h2{

  color: #b12c4b;
  text-align: left;
  margin: 0;
}

.navButton:hover{
  transform: scale(1.1);
}

#toMessage img{
  margin-top: 5%;
  margin-bottom: 5%;
}

#timers{
  text-align: center;
  margin-bottom: 10%;
  color: #b12c4b;
  z-index: 1;

}

#timers h1{
  color: #5c353e;
  position:relative;
}

#timers h1::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: #5c353e;
  height: 2px;
  width:100%;
}   
