/*STYLE FOR ALL*/
body {
  background-color:#ffc5d3 ;
  margin:0;
  padding:0;
}

html {
  font-size: 16px;
}

@media (max-width: 500px) {    
  html {
    font-size: 14px;
  }
}

h2, button {
  color: #b12c4b;
  text-align: center;
  margin: 0;
    }

/*NAVIGATION BUTTONS*/
.navButton{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 80vw;
  max-width: 400px;
  height: 20vh;
  max-height: 200px;
  background-color: white;
  border: 2px solid #5c353e;
  border-radius: 20px;
  padding: 2%;
  margin:2.5%;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.navButton img {
  width:25vw;
  max-width: 200px;
  height: 100%;
  max-height: 200px;
  object-fit: contain;
}

#toMessage img{
  margin-top: 5%;
  margin-bottom: 5%;
}

/* PAGE BUTTONS*/
footer {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

footer button{
  text-align: center;
  background-color: white;
  border: 2px solid #5c353e;
  padding: 2%;
  margin:2.5%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.back{
  border-radius: 30px 10px 10px 30px;
}

.next{
  border-radius: 10px 30px 30px 10px;
}

/*PAGES*/
.page{
  display: none;
  opacity: 0;
}

.page.show{
  opacity: 1;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100dvh;
}

header {
  background-color: #b12c4b;
  color: white;
  text-align: center;
  width: 100vw;
}

/*OPENING PAGE*/
.opening{
  justify-content: center;
  align-items: center;
}

#greeting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30vh;
  width: 30vw;
  font-size: larger;
}

#greeting img{
  object-fit: contain;
  max-width: 100%;
  height: auto;
}

/*MESSAGE PAGE*/
#letter{
  background-color: rgb(254, 255, 175);
  border:2px solid #5c353e;
  border-radius: 20px;
  margin: 5%;
  text-align: justify;
  padding:5%;
  font-size: 0.5 em; 
  color:#b12c4b;
}

/*GALLERY PAGE*/
#images{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  margin: 4rem 0 4rem 0;
  justify-content: space-around;
  gap: 4rem;
}

.pic{
  max-width: 220px;
  width: 20vw;
  background: white;
  padding: 5% 5% 10%;
  border: 1px solid white;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
  text-align: left;
  margin: 0;
}

.pic img{
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

@media (max-width:500px){
#gallery #images{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pic{
  width: 30vw;
}
}
 
/*PLAYLIST PAGE*/
a{
  text-decoration: none;
  color: inherit;
}

.songList{
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 10%;
  gap: 4rem;
  width: 100%;
}

.song {
  display: flex;
  justify-content: start;
  align-items: center;
  height: auto;
  background-color: white;
  border: 2px solid #b12c4b;
  border-radius: 2rem;
  padding: 1rem;
  text-align: left;
  margin: 0;
  width:80vw;
  max-width: 600px;
    transition: transform 0.3s ease;

}

.song img{
  width: 30%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border: 0.5rem solid black;
  border-radius: 1000px;
  margin-right: 2rem;
}

.song:hover img{
  animation: rotate 10s linear infinite;
}

.song:hover{
  transform: scale(1.1);
}

@keyframes rotate{
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}

/*HOME PAGE*/
